.posts li {
    display: list-item;
}

.hljs {
    background-color: black;
}

.meta-wrap {
    margin-bottom: 2rem;
    position: relative;
}

.meta-item {
    padding: 0 10px;
    font-weight: 800;
}

.meta-item:first-child {
    padding-left: 0;
}

.meta-item a {
    border-bottom: none;
    text-decoration: none;
}

.meta-item span {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    top: 27px;
    font-weight: normal;
    line-height: 16px;
    font-size: 15px;
}

.meta-item:hover > span {
    display: block;
}

.main-title {
    position: relative;
}

.close-menu-btn {
    cursor: pointer;
}

.burger {
    width: 30px;
    border-radius: 5px;
    position: absolute;
    top: 13px;
    right: 0;
    cursor: pointer;
}

.menu-content {
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 2rem;
}

.js-hide {
    display: none;
}

code td {
    border-bottom: 0px solid black !important;
}

table {
    background-color: black;
    color: white;
}
